<h1 class="product-list-title">
  <span class="icon">🛒</span>
  Product List
</h1>
<div class="disclaimer-card">
  <h4>Disclaimer</h4>
  <ul>
    <li>🖨️ May differ from what can currently be printed</li>
    <li>🎨 Color is up to you; currently, only mono color (single print color) is supported.</li>
    <li>📧 Contact: Clinton &#64; <a href="mailto:cfindlay@comtopllc.com">cfindlay&#64;comtopllc.com</a> for product inquiries</li>
  </ul>
</div>

<app-product-grid [products]="products"></app-product-grid>
